{
    "openapi": "3.0.0",
    "info": {
        "title": "Recognizer",
        "description": "Este sistema permite registrar distintos comercios para realizar validaciones de identidad mediante el servicio de análisis de rostros proporcionados por Azure FaceAPI.\n\n Como usuario del sistema, tienes a tu disposición la siguiente serie de endpoints.\n\n 1. Para iniciar a utilizar el servicio, debes de autenticarte mediante el endpoint de /auth/login. Este recibe las credenciales proporcionadas por el administrador del sistema via correo electrónico.\n\n 2. Una vez obtenido el bearer token, este debe ser enviado mediante la cabecera 'Authorization' de cada una de las siguientes peticiones. \n\n3. Para dar de alta a una persona en tu comercio, tienes a tu disposición el endpoint de 'Registrar persona', este endpoint recibe unicamente las fotografías de la parte delantera y trasera de la credencial de elector (INE) que sera dado de alta. Este devuelve el ID de la persona utilizado para realizar la verificación de identidad mediante rostros.\n\n4. Una vez ha sido registrada la persona, se puede empezar a realizar la verificación de identidad mediante el ID del comercio al que pertenece, asi como del ID de la persona. Para esto se proporciona el endpoint de 'Verificar identidad'. La confidencialidad devuelta por este endpoint indica los resultados del análisis. Si es mayor que 0.7, la verificación de identidad fue correcta.\n\n Si se desconoce el ID interno de la persona, se puede consultar mediante la CURP obtenida al momento de haber sido registrado.\n\n **Credenciales admitidas**\n\n * Credenciales de tipo E emitidas a partir de julio de 2014\n\n * Credenciales de tipo G emitidas a partir de diciembre de 2019\n\n Mas informacion acerca de las [credenciales del INE](https://listanominal.ine.mx/scpln/)",
        "version": "1.0.0"
    },
    "tags": [
        {
            "name": "Autenticación"
        },
        {
            "name": "Commerces"
        },
        {
            "name": "Form Recognizer"
        },
        {
            "name": "FaceApi"
        }
    ],
    "servers": [
        {
            "url": "http://ine.apscreativas.com/api"
        }
    ],
    "externalDocs": {
        "description": "Documentación oficial acerca del servicio de FaceAPi.",
        "url": "https://docs.microsoft.com/es-mx/azure/cognitive-services/face/"
    },
    "paths": {
        "/auth/login": {
            "post": {
                "tags": ["Autenticación"],
                "summary": "Obtener API Token",
                "description": "**Iniciar sesión**\n\n  Obtiene un API Token requerido en las peticiones siguiente. El token tiene un tiempo de expiración de 24 horas.",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string",
                            "description": "Correo electrónico registrado"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string",
                            "format": "password",
                            "description": "Contraseña de inicio de sesión registrada"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inicio de sesión correcto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "Request succesfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Auth"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "An error has ocurred"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/InternalServerError"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/analyze/documents/ine/front": {
            "post": {
                "tags": ["Form Recognizer"],
                "summary": "Extraer información del INE",
                "description": "**Extraer información de la parte delantera del documento INE**\n\nDetecta y extrae información en formato de pares clave-valor de una imagen tomada de la credencial de elector. La imagen debe tener un peso menor a 2mb.",
                "parameters": [
                    {
                        "name": "document_url",
                        "in": "query",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string",
                            "description": "URL de la imagen para ser analizada"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inicio de sesión correcto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "Request successfully completed"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FrontIneResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/analyze/documents/ine/back": {
            "post": {
                "tags": ["Form Recognizer"],
                "summary": "Extraer información del INE",
                "description": "**Extraer información de la parte trasera del documento INE**\n\nDetecta y extrae información en formato de pares clave-valor de una imagen tomada de la credencial de elector. La imagen debe tener un peso menor a 2mb.",
                "parameters": [
                    {
                        "name": "document_url",
                        "in": "query",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string",
                            "description": "URL de la imagen para ser analizada"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inicio de sesión correcto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "Request successfully completed"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BackIneResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/faceapi/detect": {
            "post": {
                "tags": ["FaceApi"],
                "summary": "Detectar y analizar imágenes",
                "description": "**Analizar rostros contenidas en la imagen recibida**\n\nDetecta y analiza rostros humanos en imágenes. Este endpoint devuelve el faceId necesario para realizar la verificación de identidad Face to Face o Face to Person",
                "externalDocs": {
                    "url": "https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236"
                },
                "parameters": [
                    {
                        "name": "url_image",
                        "in": "query",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string",
                            "description": "URL de la imagen para ser analizada"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Inicio de sesión correcto",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "El análisis ha finalizado correctamente"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/FaceIdResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/faceapi/analyze/face2face": {
            "post": {
                "tags": ["FaceApi"],
                "summary": "Análisis de imágenes",
                "description": "**Analizar rostros de la imagen recibida** \n\n Permite recibir dos imágenes para analizar y detectar la identidad de una persona mediante reconocimiento Rostro a Rostro",
                "externalDocs": {
                    "url": "https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523a"
                },
                "parameters": [
                    {
                        "name": "url_image_1",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Primer imagen a ser analizada"
                        }
                    },
                    {
                        "name": "url_image_2",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Segunda imagen a ser analizada"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitud realizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "El análisis ha finalizado correctamente"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DetectResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/faceapi/analyze/face2person": {
            "post": {
                "tags": ["FaceApi"],
                "summary": "Análisis de imágenes",
                "description": "**Analizar rostros de la imagen recibida** \n\n Permite recibir una imagen para analizar y detectar la identidad de una persona mediante reconocimiento Rostro a Persona. \n\n Es importante que previamente al análisis, crear la respectiva persona, el grupo de personas al que va pertenecer y realizar el respectivo entrenamiento.",
                "externalDocs": {
                    "url": "https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523a"
                },
                "parameters": [
                    {
                        "name": "url_image",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Primer imagen a ser analizada"
                        }
                    },
                    {
                        "name": "person_group_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID del grupo de persona a ser analizada"
                        }
                    },
                    {
                        "name": "person_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID de la persona a ser analizada"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitud realizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "El análisis ha finalizado correctamente"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DetectResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/commerces/{id}/persons": {
            "post": {
                "tags": ["Commerces"],
                "summary": "Registrar persona",
                "description": "**Registra la información de la persona** \n\n Permite asignar una persona al comercio solicitado. Este endpoint recibe una URL de la imagen de la credencial de elector de la persona a registrar. Este devuelve el ID de la persona generada de forma interna utilizado para realizar el análisis de validación de identidad. También devuelve la información extraída del INE.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID del comercio. Este es recibido al crear el comercio en el sistema."
                        }
                    },
                    {
                        "name": "photo_url",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Fotografía del INE del cliente a ser registrado."
                        }
                    },
                    {
                        "name": "back_photo_url",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Fotografía de la parte trasera del INE del cliente a ser registrado."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitud realizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "Request successfully completed"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/PersonAnalyzeResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/commerces/{id}/persons/{person_id}/verify": {
            "post": {
                "tags": ["Commerces"],
                "summary": "Verificar identidad",
                "description": "**Verificar la identidad de la persona registrada mediante una fotografía** \n\n Permite validar la identidad de las personas registradas al comercio mediante una fotografía del rostro. Este análisis devuelve un valor booleano como resultado del análisis de identidad proporcionado por el servicio de Azure FaceApi junto con el valor de confianza (Este valor se encuentra entre 0 y 1. Valores superiores a 0.7 se consideran como confiables).",
                "externalDocs": {
                    "url": "https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523a"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID del comercio. Este es recibido al crear el comercio en el sistema."
                        }
                    },
                    {
                        "name": "person_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID de la persona registrada en el sistema. Este ID es devuelto como person_id al ser registrado en el comercio."
                        }
                    },
                    {
                        "name": "url_image",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "Fotografía del rostro de la persona a ser analizada."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitud realizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "Request successfully completed"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/DetectResponse"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/commerces/{id}/search/persons": {
            "post": {
                "tags": ["Commerces"],
                "summary": "Obtener ID de la persona",
                "description": "**Realiza una búsqueda para obtener el ID de la persona** \n\n Permite obtener el ID de la persona registrada en el sistema mediante la curp y el ID del comercio al que se encuentra registrado.",
                "externalDocs": {
                    "url": "https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f3039523a"
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "ID del comercio. Este es recibido al crear el comercio en el sistema."
                        }
                    },
                    {
                        "name": "curp",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "CURP de la persona registrada."
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Solicitud realizada correctamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "description": "Estatus de la petición",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Mensaje de estado de la petición",
                                            "example": "Request successfully completed"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "person_id": {
                                                    "type": "number",
                                                    "example": 1
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NoAuth"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "FrontIneResponse": {
                "type": "object",
                "properties": {
                    "sexo": {
                        "type": "string",
                        "example": "M"
                    },
                    "apellido_paterno": {
                        "type": "string",
                        "example": "GOMEZ"
                    },
                    "nacimiento": {
                        "type": "string",
                        "example": "05/07/1980"
                    },
                    "curp": {
                        "type": "string",
                        "example": "GOVM800705MCLR01"
                    },
                    "primer_nombre": {
                        "type": "string",
                        "example": "ROMEO"
                    },
                    "segundo_nombre": {
                        "type": "string",
                        "example": "ESTEBAN"
                    },
                    "clave_elector": {
                        "type": "string",
                        "example": "GMVLMR80070501M100"
                    },
                    "domicilio": {
                        "type": "string",
                        "example": "VIADUCTO TLALPAN NO. 100 COL. ARENAL TEPEPAN, ALCALDIA TLALPAN. C.P. 14610, CIUDAD DE MEXICO."
                    },
                    "apellido_materno": {
                        "type": "string",
                        "example": "VELAZQUEZ"
                    }
                }
            },
            "AddressInformation": {
                "type": "object",
                "properties": {
                    "informacion_domicilio": {
                        "type": "object",
                        "properties": {
                            "primer_direccion": {
                                "type": "string",
                                "example": "Av. Aztecas"
                            },
                            "segunda_direccion": {
                                "type": "string",
                                "example": "Los Reyes, Coyoacán"
                            },
                            "numero_exterior": {
                                "type": "string",
                                "example": "224"
                            },
                            "estado": {
                                "type": "string",
                                "example": "TAB"
                            },
                            "municipio": {
                                "type": "string",
                                "example": "Centro"
                            },
                            "codigo_postal": {
                                "type": "string",
                                "example": "Av. 04330"
                            }
                        }
                    }
                }
            },
            "IneInformation": {
                "type": "object",
                "properties": {
                    "informacion_domicilio": {
                        "type": "object",
                        "properties": {
                            "tipo_identificacion": {
                                "type": "string",
                                "example": "E"
                            },
                            "cic": {
                                "type": "string",
                                "example": "1251662325"
                            },
                            "identificador_del_ciudadano": {
                                "type": "string",
                                "example": "099301650"
                            },
                            "ocr": {
                                "type": "string",
                                "example": "301650"
                            }
                        }
                    }
                }
            },
            "PersonAnalyzeResponse": {
                "type": "object",
                "properties": {
                    "person_id": {
                        "type": "number",
                        "example": 0
                    },
                    "faceapi_person_id": {
                        "type": "string",
                        "example": "8b6c4107-0ece-4e8d-a0d8-1f04cd2cf6ac"
                    },
                    "person": {
                        "type": "object",
                        "properties": {
                            "sexo": {
                                "type": "string",
                                "example": "M"
                            },
                            "registro": {
                                "type": "string",
                                "example": "2008 01"
                            },
                            "vigencia": {
                                "type": "string",
                                "example": "2019 - 2029"
                            },
                            "apellido_paterno": {
                                "type": "string",
                                "example": "GOMEZ"
                            },
                            "pais_emision": {
                                "type": "string",
                                "example": "MÉXICO"
                            },
                            "nacimiento": {
                                "type": "string",
                                "example": "05/07/1980"
                            },
                            "identificacion": {
                                "type": "string",
                                "example": "INSTITUTO NACIONAL ELECTORAL CREDENCIAL PARA VOTAR"
                            },
                            "curp": {
                                "type": "string",
                                "example": "GOVM800705MCLR01"
                            },
                            "nombre": {
                                "type": "string",
                                "example": "MARGARITA"
                            },
                            "clave_elector": {
                                "type": "string",
                                "example": "GMVLMR80070501M100"
                            },
                            "domicilio": {
                                "type": "string",
                                "example": "VIADUCTO TLALPAN NO. 100 COL. ARENAL TEPEPAN, ALCALDIA TLALPAN. C.P. 14610, CIUDAD DE MEXICO."
                            },
                            "apellido_materno": {
                                "type": "string",
                                "example": "VELAZQUEZ"
                            },
                            "seccion": {
                                "type": "string",
                                "example": "0001"
                            }
                        }
                    },
                    "informacion_domicilio": {
                        "type": "object",
                        "$ref": "#/components/schemas/AddressInformation"
                    },
                    "informacion_ine": {
                        "type": "object",
                        "$ref": "#/components/schemas/IneInformation"
                    }
                }
            },
            "BackIneResponse": {
                "type": "object",
                "properties": {
                    "identificador_fecha": {
                        "type": "string",
                        "example": "9612104M2812513MEX<00"
                    },
                    "identificador_documento": {
                        "type": "string",
                        "example": "IDMEX1721823456"
                    },
                    "identificador_titular": {
                        "type": "string",
                        "example": "ALTOSANO<MARTINEZ << LUIS <<<<<<<<"
                    }
                }
            },
            "FaceIdResponse": {
                "type": "object",
                "properties": {
                    "faceId": {
                        "type": "string",
                        "example": "f235435-3809-4af4-ac8d-471848e318dc"
                    },
                    "faceRectangle": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "top": {
                                    "type": "number",
                                    "example": 1792
                                },
                                "left": {
                                    "type": "number",
                                    "example": 875
                                },
                                "width": {
                                    "type": "number",
                                    "example": 431
                                },
                                "height": {
                                    "type": "number",
                                    "example": 431
                                }
                            }
                        }
                    }
                }
            },
            "DetectResponse": {
                "title": "DetectResponse",
                "type": "object",
                "properties": {
                    "isIdentical": {
                        "type": "boolean",
                        "example": true
                    },
                    "confidence": {
                        "type": "number",
                        "example": 0.8135
                    }
                }
            },
            "Auth": {
                "title": "Token",
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string",
                        "example": "HBAS&/%AS/(TAS%$%#534678AS"
                    }
                }
            },
            "InternalServerError": {
                "title": "InternalServerError",
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string",
                        "example": "Internal server error"
                    }
                }
            },
            "NoAuth": {
                "title": "NoAuth",
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean",
                        "example": false
                    },
                    "message": {
                        "type": "string",
                        "example": "Unauthenticated."
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "sanctum"
            }
        }
    }
}
